html, body {
  height: 100%;
  width: 100%;
}

body {
  background: $content-background;
  color: $content-color;
  font-size: 14px;
  font-family: $OpenSans;
  font-weight: normal;
  padding: 0px;
  line-height: 1.45;
  overflow: hidden;
}

/*
 * Typography
 */
 html {font-size: 1em;}

 h1, h2, h3, h4, h5, h6, ul, p, figure, img, label {
   margin: 0;
   padding: 0;
 }

 ul {
   list-style: none;
 }
 
a {
  text-decoration: none;
}

.file-title {
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
  margin-bottom: 20px;
  h1 {
    font-weight: 700;
    font-size: 45px;
  }
  h3 {
    font-size: 16px;
  }
}

.preview-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: serif;
  tbody {
    td {
      padding: 10px;
      width: 20px;
      &:nth-child(3n-1) {
        width: 5px;
      }
      &:nth-child(3n), &:last-child {
        width: 40px;
        p {
          border-bottom: 2px solid black; 
        }
      }
    }
  }
  .title-block {
      padding-top: 35px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: underline;
      font-size: 20px;
    }
}

.calibration-table {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: serif;
  td, th{
    padding: 10px;
  }
  thead {
    th {
      text-align: center;
    }
  }
  td, th {
    border: 1px solid black;
  }
}
