.wrap {
  @include container;
  height: 100%;
  background: transparent;
  position: relative;
  aside {
    @include span-columns(2);
    height: 100%;
    background: $aside-background;
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 0;
    .logo {
      height: 95px;
      background: $blue;
      padding-top: 20px;
      h1 {
        margin: 0 auto;
        color: $white;
        text-align: center;
      }
      img {
        margin: 0 auto;
        display: block;
      }
    }
    nav {
      .emp-menu {
        li {
          height: 60px;
          a {
            text-decoration: none;
            font-family: $OpenSans;
            color: $aside-color;
            border-bottom: none;
            padding-left: 10%;
            height: 60px;
            width: 100%;
            padding: 18px;
            display: block;
            .iconic {
              width: 23px;
              height: 23px;
              vertical-align: middle;
              margin-right: 5px;
            }
            .iconic * {
              fill: $aside-color;
              stroke: $aside-color;
            }
          }
          &:hover, &.active {
            background: $aside-nav-active;
            border-bottom: 1px solid $blue;
            fill: $blue;
            a {
              .iconic * {
                fill: $blue;
                stroke: $blue;
              }
            }
          }
        }
      }
    }
    .admin-menu {
      margin-top: 20px;
      border-top: 1px dashed $aside-color;
      padding: 0 10px;
      li {
        padding-top: 10px;
        a {
          padding-left: 8px;
          text-decoration: none;
          color: $aside-color;
        }
      }
    }
  }

  header {
    @include span-columns(14 omega);
    background: $white;
    height: 95px;
    padding: 10px 20px 30px 20px;
    .header-greeting {
      font-size: 2em;
      width: 50%;
      margin: 0 0 8px 0;
      color: $content-color;
    }
    ul {
      li {
        float:left;
        margin-right: 5px;
      }
    }
  }
  main {
    @include span-columns(14 omega);
    background: $content-background;
    height: 90%;
    padding: 25px;
    overflow-y:auto;
    .content-block {
      @include border-radius(3px);
      background: $white;
      color: $content-color;
      padding: 20px 25px;
      height: auto;
      width: 100%;
    }
    .search-content {
      margin-bottom: 10px;
      .navbar-form {
         padding: 0;
      }
    }
    .inner-content {
      .form {
        .form-inline {
          margin-bottom: 15px;
          label {
            display: block;
            padding-top: 5px;
            @include span-columns(7);
          }
          .form-control {
            width: 55%;
          }
        }
      }
    }
    .subpage-header {
      .subpage-header-title {
        margin-top: 0;
        margin-bottom: 35px;
      }
      .subpage-header-lists {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid $content-color;
        height: 30px;
        ul {
          list-style: none;
          li {
            float: left;
            margin-right: 10px;
            a {
              &:hover, &.active {
                border-bottom: 3px solid $blue;
              }
            }
          }
        }
      }
    }
    .subpage-actions {
      li {
        float: left;
        margin-right: 5px;
      }
    }
    .block {
      background: black;
      border: 1px solid black;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px;
      .block-title {
        padding: 5px 0px 15px 0px;
        border-bottom: 1px solid $content-color;
        margin-bottom: 15px;
        h4 {
          margin: 0;
        }
      }
    }
    .block-left {
      @include span-columns(6.9, 14);
    }
    .block-right {
      @include span-columns(6.9 omega, 14);
    }
    .block-default {
      @include span-columns(14, 14);
    }
    .block-dash, .block-dash-last {
      text-align: center;
      padding: 0;
      .block-dash-value {
        font: 8em $OpenSansLight;
        margin-bottom: 0;
      }
      .block-dash-title {
        border-top: 1px solid $gray-dark;
        color: $green;
        padding: 15px 0;
      }
    }
    .block-dash {
      @include span-columns(3, 14);
      margin-right: 20px;
    }
  }
}
