.wrapper {
	background: $aside-background;
  width: 100%;
  height: 100%;
  position: relative;
  .login {
  	width: 940px;
  	height: 350px;
  	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .logo {
      height: inherit;
      width: 400px;
      float: left;
      border-right: 2px solid $aside-nav-active;
      img {
        margin: 0 auto;
        display: block;
        padding-top: 80px;
      }
    }
    .form {
      width: 520px;
      padding: 35px 15px;
      height: inherit;
      float: right;
      .btn-primary {
        width: 100%;
        margin-bottom: 10px;
      }
      .form-inline {
        padding-top: 10px;
        border-top: 2px solid $aside-nav-active;
        text-align: center;
        #links {
          color: $aside-color;
        }
      }
    }
  }
}