@media print {
	body {
		margin: 0;
	}
	.wrap {
		padding: 0;
		margin: 0;
		background: red;
		aside, header {
			display: none;
		}
		main {
			width: 100%;
			margin: 0;
			float: none;
			background: transparent;
			.alert {
				display: none;
			}
			.calibration-table {
				margin-bottom: 10px;
			}
			.preview-table {
				tbody {
				    td {
				      padding: 7px;
				      width: 20px;
				      &:nth-child(3n-1) {
				        width: 5px;
				      }
				    }
				  }
				font-size: 12px;
				.title-block {
					font-size: 14px;
				}
			}
		}
	}
}