/*
 * Variables
 */
$container-width: 100%;
$total-columns: 16;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: 0em;
$global-box-sizing: border-box;
$container-style: fluid; // default to magic. Switch to fluid or fixed if desired

$black: #000000;
$blue: #4074E6;
$content-background: #EDEDF2;
$content-color: #51525E;
$content-color2: #576571;
$white: #FFFFFF;
$white2: #FBFBFB;
$aside-background: #343A4E;
$aside-nav-active: #303446;
$aside-color: #AEBDC4;
$aside-hover: #00BBEB;

$black: #0f1629;
$black-light: #272d3b;
$black-lighter: #161f30;
$gray: #dfe0e2;
$gray-dark: #4a4f60;
$gray-darker: #6a7385;
$gray-light: #dcd9e2;
$gray-light2: #7e8185;
$green: #28c77a;
$green-dark: #20b36c;
$red: #fa465e;
$red-dark: #d43b50;


$OpenSans: OpenSans, sans-serif;
$OpenSansLight: OpenSansLight, sans-serif;
$OpenSansBold: OpenSansItalic, sans-serif;